<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK1umGo0gdVrvWmk58BCg1zKk6FL0aAxs</string>
	<key>GCM_SENDER_ID</key>
	<string>489580270378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinhomorales.followerscountswift</string>
	<key>PROJECT_ID</key>
	<string>followerscountapp</string>
	<key>STORAGE_BUCKET</key>
	<string>followerscountapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489580270378:ios:69fa560216cfa21133c453</string>
</dict>
</plist>